Cython
defusedxml
einops
future
imageio
matplotlib
# MultiScaleDeformableAttention==1.0
numpy
opencv-python==4.4.0.44
opencv-python-headless==4.4.0.44
packaging
Pillow
prometheus-client
prompt-toolkit
ptyprocess
pycparser
Pygments
python-dateutil
scikit-image
scikit-learn
scipy
six
torch
torchvision
cairosvg
svgwrite
shapely
